@font-face {
	font-family: "iconfont";
	src: url('../fonts/iconfont.eot?t=1470020130');
	/* IE9*/
	src: url('../fonts/iconfont.eot?t=1470020130#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/iconfont.woff?t=1470020130') format('woff'), /* chrome, firefox */
	url('../fonts/iconfont.ttf?t=1470020130') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('../fonts/iconfont.svg?t=1470020130#iconfont') format('svg');
	/* iOS 4.1- */
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.datatom-icon-home:before {
	content: "\e602";
}

.datatom-icon-xinzeng:before {
	content: "\e603";
}

.datatom-icon-mine:before {
	content: "\e604";
}

.datatom-icon-tongxunlu:before {
	content: "\e605";
}

.datatom-icon-woderenwu:before {
	content: "\e606";
}

.datatom-icon-tongzhigonggao:before {
	content: "\e601";
}

.datatom-icon-minjingyuandi:before {
	content: "\e600";
}

.datatom-icon-attachment:before {
	content: "\e607";
}

.datatom-icon-delete:before {
	content: "\e608";
}

.datatom-icon-quyu:before {
	content: "\e609";
}

.datatom-icon-linshipaiban:before {
	content: "\e60c";
}

.datatom-icon-wodeyichang:before {
	content: "\e60d";
}

.datatom-icon-wucanbaobei:before {
	content: "\e60e";
}

.datatom-icon-wodeshenqing:before {
	content: "\e60f";
}

.datatom-icon-qingxiaojia:before {
	content: "\e610";
}

.datatom-icon-wodemingxi:before {
	content: "\e611";
}

.datatom-icon-didian:before {
	content: "\e60a";
}

.datatom-icon-wodepaiban:before {
	content: "\e612";
}

.datatom-icon-shijian:before {
	content: "\e60b";
}

.datatom-icon-wodeshenpi:before {
	content: "\e613";
}

.datatom-icon-tijiaolinshigongzuo:before {
	content: "\e614";
}

.datatom-icon-wodericheng:before {
	content: "\e616";
}

.datatom-icon-renwujiankong:before {
	content: "\e615";
}

.datatom-icon-xinjianrenwu:before {
	content: "\e617";
}

.datatom-icon-gongwen:before {
	content: "\e618";
}

.datatom-icon-shoudaoderenwu:before {
	content: "\e619";
}

.datatom-icon-jiechujing:before {
	content: "\e61a";
}

.datatom-icon-zhihuizhongxinrenwu:before {
	content: "\e61b";
}

.datatom-icon-fachuderenwu:before {
	content: "\e61c";
}

.datatom-icon-chuliwancheng:before {
	content: "\e61d";
}

.datatom-icon-shenqing:before { 
	content: "\e61e"; 
}

.datatom-icon-zhiwenjilu:before { 
	content: "\e624"; 
}

.datatom-icon-menjinjilu:before { 
	content: "\e623"; 
}

.datatom-icon-shitangjilu:before { 
	content: "\e621"; 
}

.datatom-icon-waiqin:before { 
	content: "\e61f"; 
}

.datatom-icon-gps:before { 
	content: "\e620"; 
}